<div class="jetfy-listfy">
    <div class="main_body" customTapGesture (cPan)="onPan($event)" (mousedown)="onMouseDown($event)">
        <div class="property_box_arrow_left">
            <div (click)="onClickedArrowLeft()" class="property_box_arrow_left_item">
                <img style="width: 30px;" src="../../../assets/images/right-arrow.svg">
            </div>
        </div>
        <div [style]="getAdjusterStyle()">
            <div class="property_box_list" [id]="'property_box_list_'+_generatedId" [style]="getListStyle()">
                <div class="property_box" [id]="'property_box_'+i+'_'+_generatedId" *ngFor="let property of _trippled_items; let i = index" [style]="getStyle(i)">
                    <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: property, state: i}"></ng-template>
                </div>
            </div>
        </div>
        

        <div class="property_box_arrow_right">
            <div (click)="onClickedArrowRight()" class="property_box_arrow_right_item">
                <img style="width: 30px;" src="../../../assets/images/right-arrow.svg">
            </div>
        </div>
    </div>
</div>