.jetfy-listfy {
    display: flex;
    justify-content: center;


    .main_body {
        display: flex;
        overflow: hidden;

        .property_box_arrow_left {
            cursor: pointer;
            background-color: #FBFBFB;
            height: 100%;
            z-index: 20;
            display: flex;
            align-items: center;

            .property_box_arrow_left_item{
                height: 50px;
                width: 50px;
            }
        }

        .property_box_arrow_right {
            cursor: pointer;
            background-color: #FBFBFB;
            height: 100%;
            z-index: 20;
            display: flex;
            align-items: center;

            .property_box_arrow_right_item{
                height: 45px;
                width: 50px;
            }

        }

        .property_box_list{
            display: flex;
        }
    }
}