<div class="jetfy-listfy">
    <div class="main_body" customTapGesture (cPan)="onPan($event)">
        <div (click)="onClickedArrowLeft()" class="property_box_arrow_left">
            <div class="property_box_arrow_left_item">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" fill="#BFBFBF" />
                    <path d="M28.88 30.1201L22.7733 24.0001L28.88 17.88L27 16L19 24.0001L27 32.0001L28.88 30.1201Z"
                        fill="white" />
                </svg>
            </div>
        </div>
        <!-- <div  customTapGesture (cPan)="onPan($event)" [id]="'property_box_list_'+_generatedId" [ngStyle]="{'transform': 'translate(' + list_transform + 'px, ' + 0 + 'px)'}" class="property_box_list">
            <div style="width: 100px; height: 100px; background-color: aqua;">t</div>
            <div class="property_box" [id]="'property_box_'+i"
            [style]="getStyle(i)"
            [ngClass]="{'property_box_list': true}"
              *ngFor="let property of _trippled_items; let i = index">
                
            </div>
            <div style="width: 100px; height: 100px; background-color: aqua;">t</div>
        </div> -->
        <div [style]="getAdjusterStyle()">
            <div class="property_box_list" [id]="'property_box_list_'+_generatedId" [style]="getListStyle()">
                <div class="property_box" *ngFor="let property of _trippled_items; let i = index" [style]="getStyle(i)">
                    <ng-template [ngTemplateOutlet]="templateRef" [ngTemplateOutletContext]="{$implicit: property, state: i}"></ng-template>
                </div>
            </div>
        </div>
        

        <div (click)="onClickedArrowRight()" class="property_box_arrow_right">
            <div class="property_box_arrow_right_item">
                <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="24" cy="24" r="24" transform="rotate(-180 24 24)" fill="#BFBFBF" />
                    <path
                        d="M19.4534 30.1201L25.56 24L19.4534 17.88L21.3334 16L29.3334 24L21.3334 32.0001L19.4534 30.1201Z"
                        fill="white" />
                </svg>
            </div>
        </div>
    </div>
</div>