<router-outlet>
    máximo 1 elemento
    <jetfy-listfy [options]="listfy_options1">
        <ng-template let-item let-pState="state">
            <jetfy-cardfy>
                {{item.value}}
            </jetfy-cardfy>
        </ng-template>
    </jetfy-listfy>
    máximo 2 elementos
    <jetfy-listfy [options]="listfy_options2">
        <ng-template let-item let-pState="state">
            <jetfy-cardfy>
                {{item.value}}
            </jetfy-cardfy>
        </ng-template>
    </jetfy-listfy>
    máximo 3 elementos
    <jetfy-listfy [options]="listfy_options3">
        <ng-template let-item let-pState="state">
            <jetfy-cardfy>
                {{item.value}}
            </jetfy-cardfy>
        </ng-template>
    </jetfy-listfy>
    máximo 5 elementos
    <jetfy-listfy [options]="listfy_options5">
        <ng-template let-item let-pState="state">
            <jetfy-cardfy>
                {{item.value}}
            </jetfy-cardfy>
        </ng-template>
    </jetfy-listfy>
    slider de imagens
    <jetfy-listfy [options]="image_options">
        <ng-template let-item let-pState="state">
            <img [src]="item.url" style="width: 800px;">
        </ng-template>
    </jetfy-listfy>
</router-outlet>
